#onclick {
	width: 78px;
}

#created_at {
	width: 14%;
}

.date {
	text-align: center;
}

.add {
	margin-right: 5.2%;
}

a { text-decoration: none; }
.topic:hover { background-color: ghostwhite; }

.topic {
	padding: 1%;
}

#topics tr:hover {
    background-color: ghostwhite;
}

#topics td:hover {
    cursor: pointer;
}