#onclick {
	width: 78px;
}

#created_at {
	width: 14%;
}

.date {
	text-align: center;
}

.add {
	margin-right: 5.2%;
}

a { text-decoration: none; }
.topic:hover { background-color: ghostwhite; }

.topic {
	padding: 1%;
}

#topics tr:hover {
    background-color: ghostwhite;
}

#topics td:hover {
    cursor: pointer;
}

#add_topic, #cancel {
	background-color: #003777;
	border: 1px solid white;
	border-radius: 7px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	width: 49%;
	padding: 5px;
	cursor: pointer;
}