* {
     margin: 0;
}

html {
	height: 100%;
}

body { 
	height: 100%;
	margin:0; 
	padding:0; 
	min-width: 1000px;
}

/*=========================================================================== */
/*---------------------------------- MENU ----------------------------------- */
/*=========================================================================== */

#menu {
	height: 100%;
	width: 25%;
	min-width: 256px;
	float: left;
	background-color: #FAFAFA;
	box-shadow: 1px 1px 5px ghostwhite;
}

#header { 
	height: 14%;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

div.logo_title {
	height: 41%;
	width: 91%;
	padding: 5.8% 2% 6.2% 5%;
}

.logo {
	float: left;
	height: 45px;
	width: 90px;
}

img.logo {
	height: 45px;
	width: 90px;
	float:left;
}

.title {
	height: 45px;
	width: 142px;
	float: left;
}

h1{
	line-height: 50px;
	position: relative;
	left: 20px;
	bottom: -2px;
	color:#003777;
	font-family: 'Lato', serif;
	font-size:2.6em;
	float: left;
	margin: 0;
}

div.search_container {
	height: 19%;
	width: 100%;
}

.menu_item {
	height: 4.8%;
	min-height: 30px;
	width: 101%;
	background-color: white;
	margin-top: 3px;
	text-align: left;
	font-family: 'Lato', serif;
}

.menu_item p {
	padding: 4px 0 0 15px;
	font-weight: bold;
	font-size: 18px;
	color: #003777;
	height: 85.9%;
}

#navigation {
	height: 78.5%;
	padding-top: 9%;
}

#navigation_items {
	height: 85%;
	width: auto;
	list-style-type: none;
	padding: 0;
}

.Username {
	font-family: 'Lato', serif;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	color: green;
	height: 24px;
}

.Logout {
	background-color: white;
	font-family: 'Lato', serif;
	font-weight: bold;
	font-size: 18px;
	height: 24px;
	padding: 0.8% 0 0.8% 15px;
	margin-top: 3px;
}

.Logout p {
	color: red;
}

.Logout:hover {	background-color: red; }
.Logout:hover p { color: white; }

.menu_item:hover {
	background-color: lightgrey;
}

.menu_item:hover p {
	color: white;
}

#menu_image {
	margin: 5px 10px 6px 17px;
	float: left;
}

#footer {
	padding: 3%;
	font-family: 'Lato', serif;
	color: lightgrey;
	font-style: italic;
}

/*=========================================================================== */
/*------------------------------ CONTAINER ---------------------------------- */
/*=========================================================================== */

#container{
	height: 100%;
	width: 75%;
	float: left;
	overflow: auto;
}

#content {
	height: auto;
	width: 100%;
	overflow: auto;
	margin-bottom: 6%;
	padding-top: 13px;
}

table {
    width: 95%;
	margin-left: 3%;
}

tbody {
	height: 100%;
}

th, td {
    padding: 5px;
    text-align: left;
}

.last_topic {
	text-align: center;
	font-style: italic;
}

h3 {
	margin: 0;
}

table p {
	margin: 0;
	color: #5f5f5f;
}

h2 {
	padding: 2% 5.3%;
	font-family: 'Lato', serif;
	text-transform: uppercase;
	font-style: italic;
	color: darkgray;
	font-size: 29px;
}

.gradient-style {
	font-family: 'Lato', serif;
	font-size: 13px;
}

.gradient-style th {
	text-align: center;
	background-color: #003777;
	color: #fff;
	font-size: 20px;
}

.gradient-style tr {
	height: 100%;
}

.gradient-style td {
	border-bottom: 1px solid #eee;
}

.add {
	font-family: 'Lato', serif;
	float: right;
	margin-right: 10.2%;
	margin-top: 2%;
}

#onclick{
	padding:3px;
	color:green;
	cursor:pointer;
	padding:5px 5px 5px 15px;
	width:100px;
	color:white;
	background-color:#003777;
	box-shadow:1px 1px 5px grey;
	border-radius:3px;
}

#popup{
	padding-top:80px;
}

.form {
	font-family: 'Lato', serif;
	border-radius:2px;
	padding:20px 30px;
	box-shadow:0 0 15px;
	font-size:14px;
	font-weight:bold;
	width:350px;
	margin:20px 250px 0 35px;
	float:left;
}

input[type=text] {
	width:95.5%;
	height:35px;
	margin:10px 0 10px 0;
	border:1px solid #999;
	border-radius:3px;
	padding:5px;
}

textarea {
	width:95.5%;
	height:80px;
	margin:10px 0 10px 0;
	border-radius:3px;
	padding:5px;
	resize:none;
}

#contactdiv { 
	opacity:0.92;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
	z-index: 10;
}

#h3 {
	color: #003777;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px 0 15px 0;
}

#contact {
	width:350px;
	margin:0px;
	background-color:white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-255px;
}

/*----------------------------------LINKS-------------------------------------*/

a:link { color: cadetblue; }
a:visited { color: cadetblue; }
a:active { color: cadetblue; }

.last_topic a {	color: black; }

/*=========================================================================== */
/*--------------------------------- FOOTER ---------------------------------- */
/*=========================================================================== */
.push {
	height: 6%;
}

footer{
	height:6%; 
	width:100%; 
	border-top: 1px solid #d1d1d1;
	bottom:0; 
	left:0; 
	background-color: #fff;
	line-height:60px; 
	margin:50px auto 0 auto; 
}

footer ul, ul li, ul li a{margin: 0; padding: 0; border: none;}
footer ul li{list-style: none; display: inline; float: left;}
footer ul li a{text-decoration: none; color:#003777;}
footer ul li a:hover{text-decoration: underline;}
footer ul{width:100%; height: auto;}
footer ul li.first{color: #d1d1d1; padding: 0 0 0 2%;}
footer ul li.last{float:right; font-weight:bold; padding: 15px 0 0 10px;}