/*------------------------------ TABLE -------------------------------- */

.category:hover { background-color: ghostwhite; }
.category h3 { text-decoration: underline; }

.last_topic {
	text-align: center;
	font-style: italic;
}

.last_topic p {
	height: 34px;
	line-height: 33px;
}

.last_topic:hover { background-color: ghostwhite; }

/*------------------------------ ADD ---------------------------------- */

#onclick {	width: 113px; }
.add { margin-right: 5.2%; }

/*------------------------------ LINKS -------------------------------- */

a { text-decoration: none; }