/*------------------------------ TABLE -------------------------------- */

#posts {
	border-collapse: collapse;
	height: 20%;
	margin-top: 10px;
}

#topic_message td{
	height: 100px;
	text-align: justify;
	padding: 20px 20px 20px 1%;
}

.message, .post {
	padding: 1%;
	text-align: justify;
}

.message_author {
	float: left;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 7px;
	width: 100%;
}

.main_message {
	padding-left: 10px;
	margin-bottom: -8px;
}

.message_date {
	text-align: right;
	width: 99%;
	margin-right: 10px;
}

.date {
	float: left;
	color: #a7a7a7;
	height: 100%;
	line-height: 25px;
	margin: 0 8px 0 8px;
	font-size: 11px;
	font-style: italic;
}

/*------------------------------ ADD -------------------------------- */

.add {
	margin: 1% 0 0 0;
}

#onclick {
	width: 46px;
}

/*------------------------------ POSTS ------------------------------- */

.author_date {
	height: 25px;
	width: 100%;
}

.post_author {
	float: left;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 5px;
}

.post_message {
	width: 98%;
	float: left;
	padding: 10px;
}

.post_footer {
	float: left;
	width: 100%;
}

.reply_to_post, .delete_post {
	color: #003777;
	background-color: white;
	border: 1px solid white;
	float: left;
	width: 46px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px;
	border-radius: 3px;
	margin: 3px 0 10px 10px;
	font-size: 15px;
}

.reply_to_post:hover { color: #d1d1d1; }
.delete_post:hover {color: crimson; }

.full_date { float: right; }

#replies {
	height: auto;
	width: 93%;
	margin-left: 4%;
	margin-top: 2%;
	text-align: justify;
	font-family: 'Lato', serif;
	font-size:1em;
}

#replies li { list-style-type: none; }

/*------------------------------ LINKS ------------------------------- */

a { text-decoration: none; }