/*=========================================================================== */
/*----------------------------- TOPICS.PHP ---------------------------------- */
/*=========================================================================== */

/*--------------------------------- TABLE ----------------------------------- */

#topics tr:hover, #starred_topics tr:hover {
    background-color: ghostwhite;
}

#topics td:hover, #starred_topics td:hover {
    cursor: pointer;
}

th { padding: 4px; }

.category {	text-align: center; }

.date {
	color: black;
	text-align: center;
	width: 12%;
	border-right: 1px solid #eee;
	padding: 1%;
	width: 19%;
}

/*=========================================================================== */
/*------------------------- STARRED-TOPICS.PHP ------------------------------ */
/*=========================================================================== */

/*--------------------------------- TABLE ----------------------------------- */

#created_topics td:first-child:hover, #categories td:first-child:hover { background-color: ghostwhite; }

.delete_category_td {
	width: 4.5%;
	border-left: 1px solid #eee;
	text-align: center;
}

#topic_message td {
	height: 100px;
	text-align: justify;
	padding: 20px;
}

.delete:hover, .delete_category_td:hover {
	background-color: #DE8686;
	cursor: pointer;
}

.delete {
	height: 100%;
	width: 100%;
	margin: -5px 0 -4px -5px;
	text-align: center;
	padding: 5px;
}

/*-------------------------------- ADD -------------------------------- */

#onclick { width: 46px; }
.add { margin: 3% 0 0 0; }

/*------------------------------ LINKS -------------------------------- */

a { text-decoration: none; }