#posts {
	border-collapse: collapse;
	height: 20%;
	margin-top: 10px;
}

.date {
	float: left;
	color: #a7a7a7;
	height: 100%;
	line-height: 25px;
	margin: 0 8px 0 8px;
	font-size: 11px;
	font-style: italic;
}

.full_date {
	float: right;
}

#onclick {
	width: 46px;
}

#topic_message td{
	height: 100px;
	text-align: justify;
	padding: 20px 20px 20px 1%;
}

.message_author {
	float: left;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 7px;
	width: 100%;
}

.post_author {
	float: left;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 5px;
}

.message_date {
	text-align: right;
	width: 99%;
	margin-right: 10px;
}

.message, .post {
	padding: 1%;
	text-align: justify;
}

.add {
	margin: 1% 0 0 0;
}

a { text-decoration: none; }

.author_date {
	height: 25px;
	width: 100%;
}

.post_message {
	width: 98%;
	float: left;
	padding: 10px;
}

.main_message {
	padding-left: 10px;
	margin-bottom: -8px;
}

.post_footer {
	float: left;
	width: 100%;
}

.reply_to_post, .delete_post, .delete_reply {
	color: #003777;
	background-color: white;
	border: 1px solid white;
	float: left;
	width: 46px;
	font-weight: bold;
	cursor: pointer;
	padding: 0px;
	border-radius: 3px;
	margin: 3px 0 10px 10px;
	font-size: 15px;
}

.reply_to_post:hover { color: #d1d1d1; }
.delete_post:hover, .delete_reply:hover {color: crimson; }

.reply {
	padding-left: 65px;
}

#replydiv, #deletediv, #delete_div_reply { 
	opacity:0.92;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
	z-index: 10;
}

#reply_form, #delete_form {
	width: 350px;
	margin: 0px;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -255px;
}

#add_reply, #cancel, #add_reply_to_post, #cancel_reply_to_post, #cancel_delete_post, #delete_post, #delete_reply, #cancel_delete_reply {
	background-color: #003777;
	border: 1px solid white;
	border-radius: 7px;
	font-weight: bold;
	font-size: 18px;
	color: white;
	width: 49%;
	padding: 5px;
	cursor: pointer;
}